<h1>Edit Project Form</h1>
<%= form_for(@project) do |f| %>
    <label>Project Name:</label><br>
    <%= f.text_field :name %><br><br>

    <label>Project Creator:</label><br>
    <p><strong><%= @project.creator %></strong></p>

    <label>Number Of Backers:</label><br>
    <%= f.number_field :number_of_backers %><br><br>

    <%= f.submit %>
<% end %>

